.form {
    text-align: center;

    &--travel {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }
    }

    &__group {

        &--results {
            width: 100%;
            padding: 2rem 0;
        }
    }

    &__input {
        font-size: 1.7rem;
        font-family: inherit;
        color: $color-black;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 4px solid transparent;
        width: 50%;
        display: block;
        transition: all .4s;
        margin: 0 auto;

        @media only screen and (max-width: 950px) {
            width: 75%;
        }

        &--results {
            width: 60%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: block;
        color: $color-black;
        opacity: 1;
        transition: all .4s;
        
        &--travel {
            text-align: left;
            padding-left: 2rem;
            margin: 1rem auto;
            width: 60%;
        }
    }

    &__input:placeholder-shown ~ &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }
}