.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &__nav {
        display: flex;
        align-items: center;
        height: 6rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
    
    &__list {
        display: flex;
    }

    &__item {
        list-style: none;
        margin: 0 3rem;
        padding: 2rem;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary 50%);
        background-size: 300%;
        transition: all 0.4s;
        text-align: center;

        @media screen and (max-width: 550px) {
            font-size: 1.2rem;
            padding: 1rem;
        }

        &:hover {
            background-position: 100%;
            color: white;
            transform: translateY(-1rem);
            cursor: pointer;
        }
    }
}