body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: white;
    padding: 3rem;
    box-sizing: border-box;

    @media screen and (max-width: 750px) {
        padding: 0;
    }
}

.heading-primary {
    color: $color-black;
    margin-bottom: 4rem;

    &--main {
        display: block;
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: .5rem;

        @media screen and (max-width: 550px) {
            font-size: 4rem;
        }
    }

    &--small {
        display: block;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: .22rem;

        @media screen and (max-width: 550px) {
            font-size: 2rem;
        }
    }
}

.heading-secondary {
    color: $color-primary-dark;
}

.heading-tertiary {
    color: $color-primary-dark;
}