*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: white;
  padding: 3rem;
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    body {
      padding: 0; } }

.heading-primary {
  color: #000;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: .5rem; }
    @media screen and (max-width: 550px) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--small {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .22rem; }
    @media screen and (max-width: 550px) {
      .heading-primary--small {
        font-size: 2rem; } }

.heading-secondary {
  color: #274756; }

.heading-tertiary {
  color: #274756; }

.hidden {
  display: none; }

.header {
  position: relative;
  padding: 8rem 0;
  height: 90vh;
  background-color: transparent;
  display: flex;
  flex-direction: column; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 8rem; }
    @media only screen and (max-width: 750px) {
      .header__logo {
        display: none; } }
  .header__text-box {
    text-align: center; }
    .header__text-box--travel {
      margin-bottom: 3rem; }
  .header__search {
    display: flex;
    flex-direction: column;
    margin: 5rem 0; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  text-align: center; }
  .form--travel {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 750px) {
      .form--travel {
        flex-direction: column; } }
  .form__group--results {
    width: 100%;
    padding: 2rem 0; }
  .form__input {
    font-size: 1.7rem;
    font-family: inherit;
    color: #000;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 4px solid transparent;
    width: 50%;
    display: block;
    transition: all .4s;
    margin: 0 auto; }
    @media only screen and (max-width: 950px) {
      .form__input {
        width: 75%; } }
    .form__input--results {
      width: 60%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #4E8098; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #A31621; }
    .form__input::-webkit-input-placeholder {
      color: #67696e; }
  .form__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
    color: #000;
    opacity: 1;
    transition: all .4s; }
    .form__label--travel {
      text-align: left;
      padding-left: 2rem;
      margin: 1rem auto;
      width: 60%; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn--search {
  background-color: #4E8098;
  color: #FCF7F8;
  margin-top: 2rem; }

.btn--travel {
  text-align: center;
  background-color: #4E8098;
  color: #FCF7F8; }

.map {
  margin: 0 auto;
  box-shadow: 0 1.3rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }
  .navigation__nav {
    display: flex;
    align-items: center;
    height: 6rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem; }
  .navigation__list {
    display: flex; }
  .navigation__item {
    list-style: none;
    margin: 0 3rem;
    padding: 2rem;
    color: #4E8098;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #4E8098 50%);
    background-size: 300%;
    transition: all 0.4s;
    text-align: center; }
    @media screen and (max-width: 550px) {
      .navigation__item {
        font-size: 1.2rem;
        padding: 1rem; } }
    .navigation__item:hover {
      background-position: 100%;
      color: white;
      transform: translateY(-1rem);
      cursor: pointer; }

.section-content {
  padding: 5rem 0;
  background-color: #CED3DC; }

.content__row {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .content__row--travelbtn {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 750px) {
      .content__row--travelbtn {
        flex-direction: row !important; } }
  @media only screen and (max-width: 750px) {
    .content__row {
      flex-direction: column; } }

.content__food {
  width: 100%;
  margin: 2rem 2rem; }
  @media only screen and (max-width: 750px) {
    .content__food {
      margin: 1rem 1rem;
      width: inherit; } }
  .content__food--img {
    height: 100px;
    width: 100px; }
  .content__food--item {
    list-style: none;
    padding-left: 1rem;
    font-size: 1.6rem;
    color: #4E8098; }
    .content__food--item > a {
      font-size: 1.8rem;
      text-decoration: none;
      font-weight: 700;
      color: #274756; }
    .content__food--item > i {
      color: gold; }

.content__travel {
  width: 50%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 750px) {
    .content__travel {
      width: 100%; } }
  .content__travel--weather {
    color: #4E8098;
    font-size: 4rem; }
    .content__travel--weather-small {
      color: #4E8098;
      font-size: 1.8rem; }
  .content__travel--info > li {
    list-style: none;
    color: #4E8098;
    padding: .2rem;
    display: inline-block;
    margin: 2rem;
    font-weight: 700;
    font-size: 1.6rem; }

.container {
  display: flex;
  flex-direction: row;
  border-radius: .5rem;
  margin: 1rem 0;
  transition: all .2s;
  background-color: white;
  width: 100%; }
  .container--weather {
    display: flex;
    flex-direction: column;
    padding: 4rem; }
  .container:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .container > img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 1rem; }

#flightContent {
  margin: 0 auto; }

#weatherWrap {
  margin: 0 auto; }
