*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: white;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary {
  color: #000;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: .5rem; }
  .heading-primary--small {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .22rem; }

.heading-secondary {
  color: #274756; }

.heading-tertiary {
  color: #274756; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.hidden {
  display: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: relative;
  padding: 15rem 0;
  height: 90vh;
  background-color: transparent; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 30%; }
  .header__search {
    padding-top: 15rem; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  text-align: center; }
  .form__group:not(:last-child) {
    margin-bottom: 3rem; }
  .form__group--results {
    display: inline-block;
    width: 30%; }
    .form__group--results:not(:last-child) {
      margin-right: 10rem; }
  .form__input {
    font-size: 1.7rem;
    font-family: inherit;
    color: #000;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 4px solid transparent;
    width: 30%;
    display: block;
    transition: all .4s;
    margin: 0 auto; }
    .form__input--results {
      width: 100%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #4E8098; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #A31621; }
    .form__input::-webkit-input-placeholder {
      color: #67696e; }
  .form__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: -2rem;
    display: block;
    color: #000;
    opacity: 1;
    transition: all .4s; }
    .form__label--travel {
      text-align: left;
      padding-left: 2rem; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn--search {
  background-color: #4E8098;
  color: #FCF7F8; }

.btn--travel {
  position: absolute;
  transform: translateY(2rem); }

.map {
  margin: 0 auto;
  box-shadow: 0 1.3rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: .4rem; }

.navigation__nav {
  height: 6rem;
  display: inline-block;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.navigation__item {
  float: left;
  list-style: none;
  margin: 0 5rem;
  padding: 2rem;
  color: #4E8098;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #4E8098 50%);
  background-size: 240%;
  transition: all 0.4s; }
  .navigation__item:hover {
    background-position: 100%;
    color: white;
    transform: translateY(-1rem);
    cursor: pointer; }

.section-content {
  padding: 5rem 0;
  background-color: #CED3DC; }

.content__food--img {
  height: 100px;
  width: 100px; }

.content__food > ul {
  float: left; }

.content__food--item {
  list-style: none;
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #4E8098; }
  .content__food--item > a {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 700;
    color: #274756; }
  .content__food--item > i {
    color: gold; }

.content__travel--weather {
  color: #4E8098;
  font-size: 4rem; }
  .content__travel--weather-small {
    color: #4E8098;
    font-size: 1.8rem; }

.content__travel--info > li {
  list-style: none;
  color: #4E8098;
  float: left;
  padding: .2rem;
  display: inline-block;
  margin: 2rem;
  font-weight: 700;
  font-size: 1.6rem; }

.container {
  display: block;
  border-radius: .5rem;
  margin: 1rem 0;
  transition: all .2s;
  background-color: white; }
  .container::after {
    content: "";
    display: table;
    clear: both; }
  .container:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .container > img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin: 1rem; }
