.section-content {
  padding: 5rem 0;
  background-color: $color-grey-medium;
}

.content {

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--travelbtn {
      margin-bottom: 3rem;

      @media only screen and (max-width: 750px) {
        flex-direction: row !important;
      }
    }

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }

  }

  &__food {
    width: 100%;
    margin: 2rem 2rem;

    @media only screen and (max-width: 750px) {
      margin: 1rem 1rem;
      width: inherit;
    }

    &--img {
      height: 100px;
      width: 100px;
    }

    & > ul {
      // float: left;
    }

    &--item {
      list-style: none;
      padding-left: 1rem;
      font-size: 1.6rem;
      color: $color-primary;

      & > a {
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 700;
        color: $color-primary-dark;
      }

      & > i {
        color: gold;
      }
    }
  }

  &__travel {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 750px) {
      width: 100%;
    }

    &--weather {
        color: $color-primary;
        font-size: 4rem;
        // padding: 2rem 0;

        &-small {
            color: $color-primary;
            font-size: 1.8rem;
        }
    }

    &--info {
    
        & > li {
            list-style: none;
            color: $color-primary;
            padding: .2rem;
            display: inline-block;
            margin: 2rem;
            font-weight: 700;
            font-size: 1.6rem;
        }
    }
  }
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    margin: 1rem 0;
    transition: all .2s;
    background-color: white;
    width: 100%;

    &--weather {
      display: flex;
      flex-direction: column;
      padding: 4rem;      
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
    }

    & > img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        margin: 1rem;
    }
}

#flightContent {
  margin: 0 auto;
}

#weatherWrap {
  margin: 0 auto;
}